<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474198803379-f1dee5n1dmvk9m7cidlku66r5se9ki3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474198803379-f1dee5n1dmvk9m7cidlku66r5se9ki3i</string>
	<key>API_KEY</key>
	<string>AIzaSyCdeTyviNM18d4MD5g2TUwQbM8j2xhQ2gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>474198803379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nargizlhus.XcodePhotoApp</string>
	<key>PROJECT_ID</key>
	<string>xcodephotoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>xcodephotoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:474198803379:ios:c60dd2df2728c5221001c6</string>
	<key>DATABASE_URL</key>
	<string>https://xcodephotoapp.firebaseio.com</string>
</dict>
</plist>
